:root {
  --vp-c-indigo-1: #D0BCFF;
  --vp-c-indigo-2: #998FE7;
  --vp-c-indigo-3: #7E78DB;

  --electric-color: #00D2A0;
  --ddn-color: #D0BCFF;
  --pglite-color: #F6F95C;

  --vp-nav-logo-height: 30px;
}

.img-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  margin: 20px 0;
  gap: 10px;
}
.img-border {
  border: 1px #ccc solid;
  border-radius: 10px;
  padding: 10px;
  background: rgb(20, 21, 23);
}
figure {
  margin: 40px 0;
}
figcaption {
  text-align: right;
  font-size: 90%;
  max-width: 420px;
  margin-left: auto;
}

iframe {
  color-scheme: auto;
}
.twitter-tweet {
  margin: 35px auto -95px !important;
}
.twitter-tweet iframe {
  transform: scale(0.8);
  transform-origin: top left;
}

.VPHomeHero .VPImage.image-src {
  max-width: min(calc(250px + 25vw), 560px);
  margin-left: -40px;
  margin-top: 10px;
}
@media (max-width: 959px) {
  .VPHomeHero .image .image-container {
    height: calc(190px + 15vw) !important;
    margin-top: -30px;
  }
  .VPHomeHero .VPImage.image-src {
    margin-left: 0px;
  }
}

.VPFeatures {
  padding-top: 15px !important;
  padding-bottom: 45px;
}
.VPFeature .VPImage {
  width: 50px;
}
.VPFeature h2.title {
  font-size: 20px;
}
.VPFeature.link[href="/product/electric"]:hover {
    border-color: var(--electric-color);
}
.VPFeature.link[href="/product/pglite"]:hover {
    border-color: var(--pglite-color);
}

.product-icon {
  width: 84px;
  margin-bottom: 20px;
}

.about-zap {
  max-width: min(calc(250px + 25vw), 420px);
  margin: -20px 0 30px;
}
@media (max-width: 959px) {
  .about-zap {
    margin: -35px 0 30px;
  }
}
@media (max-width: 767px) {
  .about-zap {
    margin: -35px auto 30px;
  }
}

.vp-doc blockquote {
  margin: 25px 10px 30px;
}